body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  text-size-adjust: 100%;
}

input,
textarea,
select,
button {
  appearance: none;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
